<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" routerLink="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/montagem">Mongatem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cadastro">Cadastro</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/encomenda">Encomenda</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/sobre">Sobre</a>
      </li>
    </ul>
  </div>

</div>
