<br>

<div class="card card1">
  <div class="card-body">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink color="danger">Bolo</a>
        <ng-template ngbNavContent><app-bolo></app-bolo></ng-template>
      </li>

      <li ngbNavItem>
        <a ngbNavLink>Cupcake</a>
        <ng-template ngbNavContent><app-cupcake></app-cupcake></ng-template>
      </li>

      <li ngbNavItem>
        <a ngbNavLink>Brownie</a>
        <ng-template ngbNavContent><app-brownie></app-brownie></ng-template>
      </li>

      <li ngbNavItem>
        <a ngbNavLink>Vegano</a>
        <ng-template ngbNavContent><app-vegano></app-vegano></ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>

<br>

<div class="card card2">
  <div class="card-header">
    Carrinho de compra
  </div>

  <div class="card-body">
    <app-carrinho-c></app-carrinho-c>
  </div>

</div>

