<br>

<div class="card">
  <div class="card-body">
    <h1>Massas</h1>
    <div class="card detalhe" style="width: 18rem;">
      <img src="https://www.significados.com.br/foto/da4f-cor-cinza-significados.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Chocolate</p>
        <span class="badge bg-danger">R$ 0.00</span>
      </div>

      <div class="form-check">
        <input class="form-check-input centraliza1" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">

        </label>
      </div>

    </div>


    <div class="card centraliza2 detalhe" style="width: 18rem;">
      <img src="https://www.significados.com.br/foto/da4f-cor-cinza-significados.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Baunilha</p>
        <span class="badge bg-danger">R$ 0.00</span>
      </div>

      <div class="form-check">
        <input class="form-check-input centraliza1" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
        </label>
      </div>
    </div>



    <div class="card centraliza3 detalhe" style="width: 18rem;">
      <img src="https://www.significados.com.br/foto/da4f-cor-cinza-significados.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Baunilha</p>
        <span class="badge bg-danger">R$ 0.00</span>
      </div>

      <div class="form-check">
        <input class="form-check-input centraliza1" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
        </label>
      </div>
    </div>



  </div>


</div>
